body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Kalam, Vollkorn;
}
#main{
    background-color:blanchedalmond;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    width: 100%;
    height: auto;
}
#img-div{

}
img {
    display: block;
}
#image{
   max-width: 100%;
   height: auto;

}
#tribute-link{
    display: block;
    text-align: center;
}