*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
*, *::before, *::after {
    box-sizing: border-box;
}

body {
    background-image: url('wallpaper.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    
}
.container {
   color: #ffffff;   
}
#title, #description{
    display:block;
    text-align: center;
}
form {
    background-color: rgba(43, 84, 126, 0.5);
    padding: 2.5rem;
    margin-top: 1rem;
}

.form-group {
    margin: 0 auto 1.25rem auto;
    padding: 0.25rem;
}

label {
    display: flex;
    align-items: center;
    font-size: 1.125rem;
    margin-bottom: 0.5rem;
}

.form-control {
    display: block;
    width: 100%;
    height: 2.375rem;
    padding: 0.375rem 0.75rem;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.input-radio, .input-checkbox {
    display: inline-block;
    margin-right: 0.625rem;
    min-height: 1.25rem;
    min-width: 1.25rem;
}

input, button, select, textarea {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}

.input-textarea {
    min-height: 120px;
    width: 100%;
    padding: 0.625rem;
    resize: vertical;
}

.submit-button {
    display: block;
    width: 100%;
    padding: 0.75rem;
    background: green;
    color: inherit;
    border-radius: 2px;
    cursor: pointer;
}

button {
    border: none;
}


/* Add a media query for smaller screens */
@media (max-width: 768px) {
    body {
        margin-top: 20px; /* Adjust the margin for smaller screens */
    }

    .container {
        width: 90%; /* Adjust the width of the container for smaller screens */
    }

    form {
        padding: 1.5rem; /* Adjust the padding for smaller screens */
    }

    .form-control {
        height: 2rem; /* Adjust the height of form controls for smaller screens */
        padding: 0.25rem 0.5rem; /* Adjust the padding of form controls for smaller screens */
    }

    .input-textarea {
        min-height: 100px; /* Adjust the min-height of the textarea for smaller screens */
    }

    .submit-button {
        padding: 0.5rem; /* Adjust the padding of the submit button for smaller screens */
    }
}
